
.container{
    display: grid;  
    grid-template-columns: 2fr 2fr 2fr;
    align-content: end;
    background-color:darkgoldenrod;  
    gap :10px;  
}
.container>div{
   
    
    background-color: blue;
    border: 10px solid rgba(0,0,0,0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
}
